<%provide(:title, 'Feedback')%>

<h1>Feedback </h1>

<p> 
    This web is just a start point. We hope to serve you better. If you have any feedbacks on how to improve this web, please feel free to contact us or fill up the form below.
</p>
