<footer class="footer">
    <small>
        <center>
            <a href="http:www.commonwealthsec.moe.edu.sg"> Commonwealth Secondary School </a>
            <h6> 698 West Coast Road Singapore 608784 </h6>
        </center>
    </small>
</footer>